[submodule "tools/qemu"]
	path = tools/qemu
	url = https://github.com/qemu/qemu.git
[submodule "asus-layers/meta-browser"]
	path = asus-layers/meta-browser
	url = https://github.com/OSSystems/meta-browser.git
[submodule "asus-layers/meta-clang"]
	path = asus-layers/meta-clang
	url = https://github.com/kraj/meta-clang.git
[submodule "asus-layers/meta-lts-mixins"]
	path = asus-layers/meta-lts-mixins
	url = https://git.yoctoproject.org/meta-lts-mixins.git

